
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #000163;
    --second-color: #04A6DE;
    --third-color: #A0CE64;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Geneva, Verdana, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transform: 200ms linear;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    box-sizing: border-box;
}

@media (max-width: 995px) {

    html {
        font-size: 55%;
    }
}