<div>
    <article>
        <section class="left">
            <img alt="Logo de Rowmark Vzla" src="roumark_logo.png" />
        </section>
        <section class="right">
            <h3> Material para corte y grabado Láser</h3>
            <span>Distribuidor Rowmark de Venezuela VE.</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, dolores. Eligendi sapiente commodi nam, ab reprehenderit eos tenetur rem, neque consequuntur ex laborum! Fugit, delectus tempora mollitia molestias illum tenetur?</p>
            <a routerLink="">Compra ahora</a>
        </section>
    </article>
</div>
