<div>
    <article>
        <section class="left">
            <img rel="preload" fetchpriority="high" as="image" alt="Logo de Rowmark Vzla" src="roumark_logo.png" />
        </section>
        <section class="right">
            <h3> Material para corte y grabado Láser</h3>
            <span>Distribuidor Rowmark de Venezuela VE.</span>
            <p>Transformamos tus proyectos de grabado con el respaldo de Rowmark. Encuentra en Venezuela la mayor variedad de texturas y colores en materiales termoplásticos de alta resistencia para aplicaciones arquitectónicas e industriales.</p>
            <a [routerLink]="[]" fragment="catalog">Ver catálogo</a>
        </section>
    </article>
</div>
