<article>
    <h2>Nuestros Productos</h2>
    <section>
        <app-product-card 
            imgName="architecture.jpg"
            title="Architectural Appliqué"
            description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
            usability="Ideal for signage, plaques, nameplates, and décor."
            [priceOne]="100"
            [priceTwo]="75"
            [priceThree]="50"
            material="Microsurfaced Impact Acrylic"
            finish="Brushed, High Gloss, Matte non-glare, Patterned"
            attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
            usage="Interior Signage, Trophies, Awards, & Plaques"
            capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
        />

        <app-product-card 
            imgName="architecture.jpg"
            title="Architectural Appliqué"
            description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
            usability="Ideal for signage, plaques, nameplates, and décor."
            [priceOne]="100"
            [priceTwo]="75"
            [priceThree]="50"
            material="Microsurfaced Impact Acrylic"
            finish="Brushed, High Gloss, Matte non-glare, Patterned"
            attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
            usage="Interior Signage, Trophies, Awards, & Plaques"
            capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
        />

        <app-product-card 
            imgName="architecture.jpg"
            title="Architectural Appliqué"
            description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
            usability="Ideal for signage, plaques, nameplates, and décor."
            [priceOne]="100"
            [priceTwo]="75"
            [priceThree]="50"
            material="Microsurfaced Impact Acrylic"
            finish="Brushed, High Gloss, Matte non-glare, Patterned"
            attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
            usage="Interior Signage, Trophies, Awards, & Plaques"
            capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
        />

        <app-product-card 
            imgName="architecture.jpg"
            title="Architectural Appliqué"
            description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
            usability="Ideal for signage, plaques, nameplates, and décor."
            [priceOne]="100"
            [priceTwo]="75"
            [priceThree]="50"
            material="Microsurfaced Impact Acrylic"
            finish="Brushed, High Gloss, Matte non-glare, Patterned"
            attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
            usage="Interior Signage, Trophies, Awards, & Plaques"
            capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
        />

        <app-product-card 
            imgName="architecture.jpg"
            title="Architectural Appliqué"
            description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
            usability="Ideal for signage, plaques, nameplates, and décor."
            [priceOne]="100"
            [priceTwo]="75"
            [priceThree]="50"
            material="Microsurfaced Impact Acrylic"
            finish="Brushed, High Gloss, Matte non-glare, Patterned"
            attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
            usage="Interior Signage, Trophies, Awards, & Plaques"
            capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
        />

        <app-product-card 
            imgName="architecture.jpg"
            title="Architectural Appliqué"
            description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
            usability="Ideal for signage, plaques, nameplates, and décor."
            [priceOne]="100"
            [priceTwo]="75"
            [priceThree]="50"
            material="Microsurfaced Impact Acrylic"
            finish="Brushed, High Gloss, Matte non-glare, Patterned"
            attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
            usage="Interior Signage, Trophies, Awards, & Plaques"
            capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
        />

        <app-product-card 
            imgName="architecture.jpg"
            title="Architectural Appliqué"
            description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
            usability="Ideal for signage, plaques, nameplates, and décor."
            [priceOne]="100"
            [priceTwo]="75"
            [priceThree]="50"
            material="Microsurfaced Impact Acrylic"
            finish="Brushed, High Gloss, Matte non-glare, Patterned"
            attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
            usage="Interior Signage, Trophies, Awards, & Plaques"
            capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
        />

        <app-product-card 
            imgName="architecture.jpg"
            title="Architectural Appliqué"
            description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
            usability="Ideal for signage, plaques, nameplates, and décor."
            [priceOne]="100"
            [priceTwo]="75"
            [priceThree]="50"
            material="Microsurfaced Impact Acrylic"
            finish="Brushed, High Gloss, Matte non-glare, Patterned"
            attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
            usage="Interior Signage, Trophies, Awards, & Plaques"
            capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
        />

        <app-product-card 
            imgName="architecture.jpg"
            title="Architectural Appliqué"
            description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
            usability="Ideal for signage, plaques, nameplates, and décor."
            [priceOne]="100"
            [priceTwo]="75"
            [priceThree]="50"
            material="Microsurfaced Impact Acrylic"
            finish="Brushed, High Gloss, Matte non-glare, Patterned"
            attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
            usage="Interior Signage, Trophies, Awards, & Plaques"
            capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
        />

        <app-product-card 
            imgName="architecture.jpg"
            title="Architectural Appliqué"
            description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
            usability="Ideal for signage, plaques, nameplates, and décor."
            [priceOne]="100"
            [priceTwo]="75"
            [priceThree]="50"
            material="Microsurfaced Impact Acrylic"
            finish="Brushed, High Gloss, Matte non-glare, Patterned"
            attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
            usage="Interior Signage, Trophies, Awards, & Plaques"
            capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
        />

        <app-product-card 
            imgName="architecture.jpg"
            title="Architectural Appliqué"
            description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
            usability="Ideal for signage, plaques, nameplates, and décor."
            [priceOne]="100"
            [priceTwo]="75"
            [priceThree]="50"
            material="Microsurfaced Impact Acrylic"
            finish="Brushed, High Gloss, Matte non-glare, Patterned"
            attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
            usage="Interior Signage, Trophies, Awards, & Plaques"
            capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
        />

        <app-product-card 
            imgName="architecture.jpg"
            title="Architectural Appliqué"
            description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
            usability="Ideal for signage, plaques, nameplates, and décor."
            [priceOne]="100"
            [priceTwo]="75"
            [priceThree]="50"
            material="Microsurfaced Impact Acrylic"
            finish="Brushed, High Gloss, Matte non-glare, Patterned"
            attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
            usage="Interior Signage, Trophies, Awards, & Plaques"
            capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
        />

        <app-product-card 
            imgName="architecture.jpg"
            title="Architectural Appliqué"
            description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
            usability="Ideal for signage, plaques, nameplates, and décor."
            [priceOne]="100"
            [priceTwo]="75"
            [priceThree]="50"
            material="Microsurfaced Impact Acrylic"
            finish="Brushed, High Gloss, Matte non-glare, Patterned"
            attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
            usage="Interior Signage, Trophies, Awards, & Plaques"
            capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
        />

        <app-product-card 
            imgName="architecture.jpg"
            title="Architectural Appliqué"
            description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
            usability="Ideal for signage, plaques, nameplates, and décor."
            [priceOne]="100"
            [priceTwo]="75"
            [priceThree]="50"
            material="Microsurfaced Impact Acrylic"
            finish="Brushed, High Gloss, Matte non-glare, Patterned"
            attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
            usage="Interior Signage, Trophies, Awards, & Plaques"
            capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
        />
    </section>
</article>
