
<div class="background-img">
    <h2>Nuestros Productos</h2>
</div>
<article>
    <section class="size-sheet">
        <button (click)="selectSizeSheet('full')">Lámina (120x60cm)</button>
        <button (click)="selectSizeSheet('medium')">Media Lámina (60x60cm)</button>
        <button (click)="selectSizeSheet('quarter')">Cuarto de Lámina (30x60cm)</button>
    </section>

    @if (activeSheet === 'full') {
        <section class="sheet">
            <app-product-card 
                [euro]="euroBcv"
                imgName="flexibrass.jpg"
                title="FlexiBrass"
                description="Flexible, ligera y resistente. Esta línea de productos combina la definición nítida y clásica del grabado del latón auténtico con todas las ventajas del acrílico fino y flexible. Disponible con o sin adhesivo. Los plásticos blancos y de colores claros no suelen ser adecuados para la fabricación con láser de diodo."
                usability="Señalización interior, trofeos, premios y placas."
                [prices]="[65]"
                material="Acrílico de impacto con microacabado"
                finish="Cepillado, alto brillo, mate antirreflejo, estampado"
                attributes="Apto para láser, apto para láser de diodo, apto para grabado rotativo, apto para grabado frontal, apto para impresión UV y LED, uso en interiores"
                usage="Señalización interior, trofeos, premios y placas"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, curvado térmico, serigrafías, estampados en caliente, adhesivos, permisos, grabado de precisión"
                [engravingDepth]="[0.6]"
                unitsDisable="1"
            />

            <app-product-card 
                [euro]="euroBcv"
                imgName="standard_metal.jpg"
                title="Standard Metal"
                description="Standard Metals tiene el brillo del metal real. Cada color se crea mediante un proceso de huecograbado texturizado para reflejar su propia calidad única. Para obtener protección adicional, se puede solicitar el recubrimiento NoMark Plus, que es una capa dura especial que otorga a los metales una durabilidad superior para evitar rayones y marcas, además de ofrecer el beneficio de una apariencia brillante para lograr un acabado de metal real y lustroso."
                usability="Señalización, identificación personal."
                [prices]="[59, 55]"
                material="ABS con micro-superficie"
                finish="Metal cepillado"
                attributes="Método de grabado: Carburo rotatorio."
                usage="Señalización interior, identificación personal, señalización de seguridad, señalización recreativa."
                capabilities="Allows the use of saws and drills, Allows the use of shears, Can be beveled, Is heat-foldable, Suitable for screen printing, hot stamping, and bonding (gluing), Allows for fine engraving."
                [engravingDepth]="[1.6, 0.8]"
                unitsEnabled="1"
            />

            <app-product-card 
                [euro]="euroBcv"
                imgName="metalgraphplus.jpg"
                title="Metalgraph Plus"
                description="Metalgraph Plus cuenta con un recubrimiento duro integrado con acabado cepillado que es resistente a la humedad y a las huellas dactilares, lo que lo hace ideal para aplicaciones en exteriores. Los plásticos blancos y de colores claros suelen ser inadecuados para la fabricación con láser de diodo."
                usability="Señalización, identificación personal, adornos."
                [prices]="[97, 108]"
                material="Acrílico de impacto con microacabado"
                finish="Cepillado, con textura"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Señalización interior, señalización exterior, identificación personal, adornos, paneles de control, señalización industrial/etiquetas, trofeos, premios y placas"
                capabilities="Sierras, taladros, cizallas, láser vectorial, cortes, biselados, termoformados, serigrafías, estampados en caliente, uniones, permite el grabado fino"
                [engravingDepth]="[1.6, 0.8]"
                unitsEnabled="1"
            />

            <app-product-card 
                [euro]="euroBcv"
                imgName="lasermark.jpg"
                title="Lasermark"
                description="Dejar tu huella en el sector de la señalización y el grabado es muy fácil con este material acrílico, especialmente diseñado para lograr un grabado nítido y limpio, así como letras, logotipos y recortes vectoriales ultraprecisos con láser."
                usability="Trofeos, señalización, premios y placas."
                [prices]="[75]"
                material="Microsurfaced Impact Acrylic"
                finish="Cepillado, alto brillo, mate antirreflejo, estampado"
                attributes="Apto para láser, apto para grabado rotativo, apto para grabado frontal, apto para impresión UV-LED, uso en interiores"
                usage="Señalización interior, identificación personal, señalización de seguridad, señalización industrial/etiquetas; trofeos, premios y placas"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, termoformados, serigrafías, estampados en caliente, adhesivos, permisos, grabado de precisión"
                [engravingDepth]="[0.8]"
                unitsEnabled="1"
            />

            <app-product-card 
                [euro]="euroBcv"
                imgName="ada.jpg"
                title="ADA"
                description="La línea ADA Alternative de Rowmark ofrece una excelente relación calidad-precio sin renunciar a la calidad. Los grabadores apreciarán el rendimiento constante de corte, la facilidad de uso y el precio accesible de este producto de calidad. ADA Alternative es una línea de productos mate diseñada especialmente por Rowmark para cumplir con las regulaciones federales de la Ley de Estadounidenses con Discapacidades (ADA). Las láminas, aptas para el grabado en braille y el fresado, están disponibles en una amplia variedad de combinaciones de colores. Los plásticos blancos y de colores claros suelen ser inadecuados para la fabricación con láser de diodo."
                usability="Señalización, plantillas, proyectos de artesanía."
                [prices]="[68]"
                material="Microsurfaced Impact Acrylic"
                finish="Mate antirreflejos"
                attributes="Grabable con láser, grabable con láser de diodo, grabable con máquina rotativa, grabable en la parte frontal, conforme a ADA/táctil, imprimible con LED UV, para uso en interiores, resistente a la intemperie en exteriores, estable a la luz UV, con certificación UL"
                usage="Proyectos de artesanía y diseño, señalización interior, señalización exterior, conforme a la ADA, señalización táctil, señalización de seguridad, señalización de salidas de emergencia, plantillas"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, termoformados, serigrafías, estampados en caliente, encolados"
                [engravingDepth]="[0.7]"
                unitsEnabled="1"
            />

            <app-product-card 
                [euro]="euroBcv"
                imgName="lasermax.jpg"
                title="LaserMax"
                description="Esta línea de productos, diseñada para satisfacer las necesidades actuales de los grabadores láser, presenta un acabado mate clásico y resistente. Su mayor tolerancia al calor y sus láminas de color resistentes a los rayos UV la convierten en la opción preferida de los grabadores láser. Los plásticos blancos y de colores claros suelen ser inadecuados para la fabricación con láser de diodo."
                usability="Señalización, etiquetas, trofeos, premios y placas."
                [prices]="[68]"
                material="Acrílico de impacto con microacabado"
                finish="Mate antirreflejos"
                attributes="Apto para láser, apto para láser de diodo, apto para grabado rotativo, apto para grabado frontal, apto para impresión UV y LED, para uso en interiores, resistente a la intemperie para uso en exteriores, estable a la luz UV"
                usage="Señalización interior, señalización exterior, identificación personal, etiquetas de identificación de equipos, señalización de seguridad, señalización y etiquetas industriales; trofeos, premios y placas"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, moldeado por calor, serigrafías, estampados en caliente, adhesiones, permite el grabado fino"
                [engravingDepth]="[0.8]"
                unitsEnabled="1"
            />

            <app-product-card
                [euro]="euroBcv" 
                imgName="textures.jpg"
                title="Textures"
                description="La superficie duradera de la línea Textures permite realizar grabados detallados. Duraderas y resistentes a las huellas dactilares, las piezas Textures son ideales para entornos industriales y zonas de mucho tránsito. Los plásticos blancos y de colores claros no suelen ser adecuados para la fabricación con láser de diodo."
                usability="Señalización, etiquetas, paneles de control"
                [prices]="[88]"
                material="Acrílico de impacto coextruido"
                finish="Con textura"
                attributes="Apto para láser, apto para láser de diodo, apto para grabado rotativo, apto para grabado frontal, para uso en interiores, resistente a la intemperie en exteriores, estable a los rayos UV, con certificación UL"
                usage="Señalización interior, señalización exterior, identificación personal, etiquetas de identificación de equipos, señalización de seguridad, señalización recreativa, paneles de control, señalización y etiquetas industriales"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, moldeado por calor, serigrafías, estampados en caliente, adhesiones, permisos, grabado de precisión"
                [engravingDepth]="[1.6]"
                unitsEnabled="1"
            />

            <app-product-card 
                [euro]="euroBcv"
                imgName="naturals.jpg"
                title="Naturals"
                description="Añade un toque de naturaleza a tus proyectos con The Naturals de Rowmark. The Naturals presenta auténticos diseños texturados inspirados en la naturaleza, integrados en este producto apto para el grabado con láser y rotativo. Los plásticos blancos y de colores claros suelen ser inadecuados para la fabricación con láser de diodo."
                usability="Proyectos de artesanía, diseño, señalización, y premios"
                [prices]="[117]"
                material="Acrílico de impacto con microacabado"
                finish="Con textura"
                attributes="Apto para láser, apto para láser de diodo, apto para grabado rotativo, apto para grabado frontal, apto para impresión UV y LED, para uso en interiores, resistente a la intemperie para uso en exteriores, estable a la luz UV"
                usage="Proyectos de artesanía y diseño artístico, señalización interior, señalización exterior, identificación personal, adornos, señalización recreativa, trofeos, premios y placas"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, moldeado por calor, serigrafías, estampados en caliente, adhesiones, permisos, grabado de precisión"
                [engravingDepth]="[1.6]"
                unitsEnabled="1"
            />

            <app-product-card 
                [euro]="euroBcv"
                imgName="laserglow.jpg"
                title="LaserGlow"
                description="El producto luminiscente de Rowmark, diseñado específicamente para superar los estándares de fotoluminiscencia establecidos por numerosos municipios y organizaciones. Se trata de un sustrato plástico flexible no radiactivo, lo que lo convierte en la opción ideal para señalización de salidas, emergencias y orientación."
                usability="Señalización, certificado por la MEA."
                [prices]="[296]"
                material="Acrílico Impact"
                finish="Mate antirreflejos"
                attributes="Apto para láser, apto para grabado rotativo, apto para grabado frontal, apto para grabado en el reverso, conforme a la ADA/táctil, apto para impresión UV-LED, para uso en interiores, resistente a la intemperie en exteriores, estable a la luz UV, con certificación UL"
                usage="Señalización interior, señalización exterior, señalización luminosa de orientación, conforme a la ADA, señalización táctil, señalización de seguridad, señalización recreativa, señalización de salidas y vías de evacuación, señalización industrial/etiquetas, certificado por la MEA (MEA n.º 203-08-M)"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, termoformado, serigrafías, estampados en caliente, adhesiones, retroiluminación"
                [engravingDepth]="[1.6]"
                unitsEnabled="1"
            />

            <app-product-card
                [euro]="euroBcv" 
                imgName="ultragrave.jpg"
                title="UltraGrave"
                description="El plástico grabable UltraGrave Matte de Rowmark está diseñado para ser el laminado multifuncional más fácil de usar del mercado. Con una versatilidad sin igual, este producto está fabricado con una capa exterior de polímero resistente y estable a los rayos UV, disponible en colores vivos y vibrantes con acabado mate, laminada sobre un núcleo acrílico de gran resistencia. Los plásticos blancos y de colores claros suelen ser inadecuados para la fabricación con láser de diodo."
                usability="Señalización, etiquetas, trofeos, premios y placas"
                [prices]="[118]"
                material="Acrílico de impacto con microacabado"
                finish="Veteado, alto brillo, mate antirreflejos, satinado"
                attributes="Apto para láser, apto para láser de diodo, apto para grabado rotativo, apto para grabado frontal, para uso en interiores, resistente a la intemperie en exteriores, estable a los rayos UV"
                usage="Señalización interior, señalización exterior, identificación personal, paneles de control; etiquetas de identificación de equipos, señalización de seguridad; señalización recreativa; señalización industrial/etiquetas; trofeos, premios y placas"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, moldeado por calor, serigrafías, estampados en caliente, adhesivos, permisos, grabado de precisión"
                [engravingDepth]="[1.6]"
                unitsEnabled="1"
            />
        </section>
    }

    @if (activeSheet === 'medium') {
        <section class="sheet">
            <app-product-card 
                [euro]="euroBcv"
                imgName="flexibrass.jpg"
                title="FlexiBrass"
                description="Flexible, ligera y resistente. Esta línea de productos combina la definición nítida y clásica del grabado del latón auténtico con todas las ventajas del acrílico fino y flexible. Disponible con o sin adhesivo. Los plásticos blancos y de colores claros no suelen ser adecuados para la fabricación con láser de diodo."
                usability="Señalización interior, trofeos, premios y placas."
                [prices]="[37.5]"
                material="Acrílico de impacto con microacabado"
                finish="Cepillado, alto brillo, mate antirreflejo, estampado"
                attributes="Apto para láser, apto para láser de diodo, apto para grabado rotativo, apto para grabado frontal, apto para impresión UV y LED, uso en interiores"
                usage="Señalización interior, trofeos, premios y placas"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, curvado térmico, serigrafías, estampados en caliente, adhesivos, permisos, grabado de precisión"
                [engravingDepth]="[0.6]"
                unitsDisable="1"
            />

            <app-product-card 
                [euro]="euroBcv"
                imgName="standard_metal.jpg"
                title="Standard Metal"
                description="Standard Metals tiene el brillo del metal real. Cada color se crea mediante un proceso de huecograbado texturizado para reflejar su propia calidad única. Para obtener protección adicional, se puede solicitar el recubrimiento NoMark Plus, que es una capa dura especial que otorga a los metales una durabilidad superior para evitar rayones y marcas, además de ofrecer el beneficio de una apariencia brillante para lograr un acabado de metal real y lustroso."
                usability="Señalización, identificación personal."
                [prices]="[34.50, 32.50]"
                material="ABS con micro-superficie"
                finish="Metal cepillado"
                attributes="Método de grabado: Carburo rotatorio."
                usage="Señalización interior, identificación personal, señalización de seguridad, señalización recreativa."
                capabilities="Allows the use of saws and drills, Allows the use of shears, Can be beveled, Is heat-foldable, Suitable for screen printing, hot stamping, and bonding (gluing), Allows for fine engraving."
                [engravingDepth]="[1.6, 0.8]"
                unitsEnabled="1"
            />

            <app-product-card 
                [euro]="euroBcv"
                imgName="metalgraphplus.jpg"
                title="Metalgraph Plus"
                description="Metalgraph Plus cuenta con un recubrimiento duro integrado con acabado cepillado que es resistente a la humedad y a las huellas dactilares, lo que lo hace ideal para aplicaciones en exteriores. Los plásticos blancos y de colores claros suelen ser inadecuados para la fabricación con láser de diodo."
                usability="Señalización, identificación personal, adornos."
                [prices]="[53.50, 59]"
                material="Acrílico de impacto con microacabado"
                finish="Cepillado, con textura"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Señalización interior, señalización exterior, identificación personal, adornos, paneles de control, señalización industrial/etiquetas, trofeos, premios y placas"
                capabilities="Sierras, taladros, cizallas, láser vectorial, cortes, biselados, termoformados, serigrafías, estampados en caliente, uniones, permite el grabado fino"
                [engravingDepth]="[1.6, 0.8]"
                unitsEnabled="1"
            />

            <app-product-card 
                [euro]="euroBcv"
                imgName="lasermark.jpg"
                title="Lasermark"
                description="Dejar tu huella en el sector de la señalización y el grabado es muy fácil con este material acrílico, especialmente diseñado para lograr un grabado nítido y limpio, así como letras, logotipos y recortes vectoriales ultraprecisos con láser."
                usability="Trofeos, señalización, premios y placas."
                [prices]="[42.5]"
                material="Microsurfaced Impact Acrylic"
                finish="Cepillado, alto brillo, mate antirreflejo, estampado"
                attributes="Apto para láser, apto para grabado rotativo, apto para grabado frontal, apto para impresión UV-LED, uso en interiores"
                usage="Señalización interior, identificación personal, señalización de seguridad, señalización industrial/etiquetas; trofeos, premios y placas"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, termoformados, serigrafías, estampados en caliente, adhesivos, permisos, grabado de precisión"
                [engravingDepth]="[0.8]"
                unitsEnabled="1"
            />

            <app-product-card 
                [euro]="euroBcv"
                imgName="ada.jpg"
                title="ADA"
                description="La línea ADA Alternative de Rowmark ofrece una excelente relación calidad-precio sin renunciar a la calidad. Los grabadores apreciarán el rendimiento constante de corte, la facilidad de uso y el precio accesible de este producto de calidad. ADA Alternative es una línea de productos mate diseñada especialmente por Rowmark para cumplir con las regulaciones federales de la Ley de Estadounidenses con Discapacidades (ADA). Las láminas, aptas para el grabado en braille y el fresado, están disponibles en una amplia variedad de combinaciones de colores. Los plásticos blancos y de colores claros suelen ser inadecuados para la fabricación con láser de diodo."
                usability="Señalización, plantillas, proyectos de artesanía."
                [prices]="[39]"
                material="Microsurfaced Impact Acrylic"
                finish="Mate antirreflejos"
                attributes="Grabable con láser, grabable con láser de diodo, grabable con máquina rotativa, grabable en la parte frontal, conforme a ADA/táctil, imprimible con LED UV, para uso en interiores, resistente a la intemperie en exteriores, estable a la luz UV, con certificación UL"
                usage="Proyectos de artesanía y diseño, señalización interior, señalización exterior, conforme a la ADA, señalización táctil, señalización de seguridad, señalización de salidas de emergencia, plantillas"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, termoformados, serigrafías, estampados en caliente, encolados"
                [engravingDepth]="[0.7]"
                unitsEnabled="1"
            />

            <app-product-card 
                [euro]="euroBcv"
                imgName="lasermax.jpg"
                title="LaserMax"
                description="Esta línea de productos, diseñada para satisfacer las necesidades actuales de los grabadores láser, presenta un acabado mate clásico y resistente. Su mayor tolerancia al calor y sus láminas de color resistentes a los rayos UV la convierten en la opción preferida de los grabadores láser. Los plásticos blancos y de colores claros suelen ser inadecuados para la fabricación con láser de diodo."
                usability="Señalización, etiquetas, trofeos, premios y placas."
                [prices]="[39]"
                material="Acrílico de impacto con microacabado"
                finish="Mate antirreflejos"
                attributes="Apto para láser, apto para láser de diodo, apto para grabado rotativo, apto para grabado frontal, apto para impresión UV y LED, para uso en interiores, resistente a la intemperie para uso en exteriores, estable a la luz UV"
                usage="Señalización interior, señalización exterior, identificación personal, etiquetas de identificación de equipos, señalización de seguridad, señalización y etiquetas industriales; trofeos, premios y placas"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, moldeado por calor, serigrafías, estampados en caliente, adhesiones, permite el grabado fino"
                [engravingDepth]="[0.8]"
                unitsEnabled="1"
            />

            <app-product-card
                [euro]="euroBcv" 
                imgName="textures.jpg"
                title="Textures"
                description="La superficie duradera de la línea Textures permite realizar grabados detallados. Duraderas y resistentes a las huellas dactilares, las piezas Textures son ideales para entornos industriales y zonas de mucho tránsito. Los plásticos blancos y de colores claros no suelen ser adecuados para la fabricación con láser de diodo."
                usability="Señalización, etiquetas, paneles de control"
                [prices]="[49]"
                material="Acrílico de impacto coextruido"
                finish="Con textura"
                attributes="Apto para láser, apto para láser de diodo, apto para grabado rotativo, apto para grabado frontal, para uso en interiores, resistente a la intemperie en exteriores, estable a los rayos UV, con certificación UL"
                usage="Señalización interior, señalización exterior, identificación personal, etiquetas de identificación de equipos, señalización de seguridad, señalización recreativa, paneles de control, señalización y etiquetas industriales"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, moldeado por calor, serigrafías, estampados en caliente, adhesiones, permisos, grabado de precisión"
                [engravingDepth]="[1.6]"
                unitsEnabled="1"
            />

            <app-product-card 
                [euro]="euroBcv"
                imgName="naturals.jpg"
                title="Naturals"
                description="Añade un toque de naturaleza a tus proyectos con The Naturals de Rowmark. The Naturals presenta auténticos diseños texturados inspirados en la naturaleza, integrados en este producto apto para el grabado con láser y rotativo. Los plásticos blancos y de colores claros suelen ser inadecuados para la fabricación con láser de diodo."
                usability="Proyectos de artesanía, diseño, señalización, y premios"
                [prices]="[63.5]"
                material="Acrílico de impacto con microacabado"
                finish="Con textura"
                attributes="Apto para láser, apto para láser de diodo, apto para grabado rotativo, apto para grabado frontal, apto para impresión UV y LED, para uso en interiores, resistente a la intemperie para uso en exteriores, estable a la luz UV"
                usage="Proyectos de artesanía y diseño artístico, señalización interior, señalización exterior, identificación personal, adornos, señalización recreativa, trofeos, premios y placas"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, moldeado por calor, serigrafías, estampados en caliente, adhesiones, permisos, grabado de precisión"
                [engravingDepth]="[1.6]"
                unitsEnabled="1"
            />

            <app-product-card 
                [euro]="euroBcv"
                imgName="laserglow.jpg"
                title="LaserGlow"
                description="El producto luminiscente de Rowmark, diseñado específicamente para superar los estándares de fotoluminiscencia establecidos por numerosos municipios y organizaciones. Se trata de un sustrato plástico flexible no radiactivo, lo que lo convierte en la opción ideal para señalización de salidas, emergencias y orientación."
                usability="Señalización, certificado por la MEA."
                [prices]="[153]"
                material="Acrílico Impact"
                finish="Mate antirreflejos"
                attributes="Apto para láser, apto para grabado rotativo, apto para grabado frontal, apto para grabado en el reverso, conforme a la ADA/táctil, apto para impresión UV-LED, para uso en interiores, resistente a la intemperie en exteriores, estable a la luz UV, con certificación UL"
                usage="Señalización interior, señalización exterior, señalización luminosa de orientación, conforme a la ADA, señalización táctil, señalización de seguridad, señalización recreativa, señalización de salidas y vías de evacuación, señalización industrial/etiquetas, certificado por la MEA (MEA n.º 203-08-M)"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, termoformado, serigrafías, estampados en caliente, adhesiones, retroiluminación"
                [engravingDepth]="[1.6]"
                unitsEnabled="1"
            />

            <app-product-card
                [euro]="euroBcv" 
                imgName="ultragrave.jpg"
                title="UltraGrave"
                description="El plástico grabable UltraGrave Matte de Rowmark está diseñado para ser el laminado multifuncional más fácil de usar del mercado. Con una versatilidad sin igual, este producto está fabricado con una capa exterior de polímero resistente y estable a los rayos UV, disponible en colores vivos y vibrantes con acabado mate, laminada sobre un núcleo acrílico de gran resistencia. Los plásticos blancos y de colores claros suelen ser inadecuados para la fabricación con láser de diodo."
                usability="Señalización, etiquetas, trofeos, premios y placas"
                [prices]="[64]"
                material="Acrílico de impacto con microacabado"
                finish="Veteado, alto brillo, mate antirreflejos, satinado"
                attributes="Apto para láser, apto para láser de diodo, apto para grabado rotativo, apto para grabado frontal, para uso en interiores, resistente a la intemperie en exteriores, estable a los rayos UV"
                usage="Señalización interior, señalización exterior, identificación personal, paneles de control; etiquetas de identificación de equipos, señalización de seguridad; señalización recreativa; señalización industrial/etiquetas; trofeos, premios y placas"
                capabilities="Sierras, taladros, cizallas, cortes vectoriales con láser, biselados, moldeado por calor, serigrafías, estampados en caliente, adhesivos, permisos, grabado de precisión"
                [engravingDepth]="[1.6]"
                unitsEnabled="1"
            />
        </section>
    }

    @if (activeSheet === 'quarter') {
        <section class="sheet">
            <app-product-card 
                [euro]="euroBcv"
                imgName="flexibrass.jpg"
                title="TrophyFlex"
                description="La gama TrophyFlex de Rowmark está especialmente diseñada para obtener placas y etiquetas grabadas y con láser nítidas y de gran calidad. Este sustrato con dorso adhesivo ofrece una durabilidad y una integridad excepcionales para proyectos en superficies curvas o planas, placas de trofeos, placas conmemorativas, placas de identificación y etiquetas, señalización y mucho más. TrophyFlex también ofrece excelentes resultados en aplicaciones de etiquetas impresas con tecnología UV-LED."
                usability="Trofeos y premios, productos promocionales, placas conmemorativas."
                [prices]="[37.5]"
                material="Compuesto acrílico con microcapa flexible y reverso adhesivo"
                finish="Mate antirreflejos, brillante, cepillado"
                attributes="Apto para láser, apto para láser de diodo, apto para grabado rotativo, apto para grabado frontal, apto para impresión UV y LED, uso en interiores"
                usage="Trofeos y premios, productos promocionales, placas conmemorativas, placas identificativas, etiquetas"
                capabilities="Sierras, taladros, cortes vectoriales con láser, permite grabados de gran detalle, imprimible con LED UV, estampados en caliente, serigrafías, impresiones térmicas"
                [engravingDepth]="[0.6]"
                unitsDisable="1"
            />
        </section>
    }

</article>
