
<div class="background-img">
    <h2>Nuestros Productos</h2>
</div>
<article>
    <section class="size-sheet">
        <button (click)="selectSizeSheet('full')">Lámina (120x60cm)</button>
        <button (click)="selectSizeSheet('medium')">Media Lámina (60x60cm)</button>
        <button (click)="selectSizeSheet('quarter')">Cuarto de Lámina (30x60cm)</button>
    </section>

    @if (activeSheet === 'full') {
        <section class="sheet">
            <app-product-card 
                imgName="flexibrass.jpg"
                title="FlexiBrass"
                description="Flexible, ligera y resistente... esta línea de productos combina la definición nítida y clásica del grabado del latón auténtico con todas las ventajas del acrílico fino y flexible. Disponible con o sin adhesivo. Los plásticos blancos y de colores claros no suelen ser adecuados para la fabricación con láser de diodo."
                usability="Señalización interior, trofeos."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Acrílico de impacto con microacabado"
                finish="Cepillado, alto brillo, mate antirreflejo, estampado"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Señalización interior, trofeos, premios y placas"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
                engravingDepth="0.6"
                unitsDisable="1"
            />

            <app-product-card 
                imgName="architecture.jpg"
                title="Architectural Appliqué"
                description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
                usability="Ideal for signage, plaques, nameplates, and décor."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Microsurfaced Impact Acrylic"
                finish="Brushed, High Gloss, Matte non-glare, Patterned"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Interior Signage, Trophies, Awards, & Plaques"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
                engravingDepth="0.6"
                unitsDisable="1"
            />

            <app-product-card 
                imgName="architecture.jpg"
                title="Architectural Appliqué"
                description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
                usability="Ideal for signage, plaques, nameplates, and décor."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Microsurfaced Impact Acrylic"
                finish="Brushed, High Gloss, Matte non-glare, Patterned"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Interior Signage, Trophies, Awards, & Plaques"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
            />

            <app-product-card 
                imgName="architecture.jpg"
                title="Architectural Appliqué"
                description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
                usability="Ideal for signage, plaques, nameplates, and décor."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Microsurfaced Impact Acrylic"
                finish="Brushed, High Gloss, Matte non-glare, Patterned"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Interior Signage, Trophies, Awards, & Plaques"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
                engravingDepth="0.6"
                unitsDisable="1"   
            />

            <app-product-card 
                imgName="architecture.jpg"
                title="Architectural Appliqué"
                description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
                usability="Ideal for signage, plaques, nameplates, and décor."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Microsurfaced Impact Acrylic"
                finish="Brushed, High Gloss, Matte non-glare, Patterned"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Interior Signage, Trophies, Awards, & Plaques"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
                engravingDepth="0.6"
                unitsDisable="1"        
            />

            <app-product-card 
                imgName="architecture.jpg"
                title="Architectural Appliqué"
                description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
                usability="Ideal for signage, plaques, nameplates, and décor."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Microsurfaced Impact Acrylic"
                finish="Brushed, High Gloss, Matte non-glare, Patterned"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Interior Signage, Trophies, Awards, & Plaques"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
            />

            <app-product-card 
                imgName="architecture.jpg"
                title="Architectural Appliqué"
                description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
                usability="Ideal for signage, plaques, nameplates, and décor."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Microsurfaced Impact Acrylic"
                finish="Brushed, High Gloss, Matte non-glare, Patterned"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Interior Signage, Trophies, Awards, & Plaques"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
            />

            <app-product-card 
                imgName="architecture.jpg"
                title="Architectural Appliqué"
                description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
                usability="Ideal for signage, plaques, nameplates, and décor."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Microsurfaced Impact Acrylic"
                finish="Brushed, High Gloss, Matte non-glare, Patterned"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Interior Signage, Trophies, Awards, & Plaques"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
            />

            <app-product-card 
                imgName="architecture.jpg"
                title="Architectural Appliqué"
                description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
                usability="Ideal for signage, plaques, nameplates, and décor."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Microsurfaced Impact Acrylic"
                finish="Brushed, High Gloss, Matte non-glare, Patterned"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Interior Signage, Trophies, Awards, & Plaques"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
            />

            <app-product-card 
                imgName="architecture.jpg"
                title="Architectural Appliqué"
                description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
                usability="Ideal for signage, plaques, nameplates, and décor."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Microsurfaced Impact Acrylic"
                finish="Brushed, High Gloss, Matte non-glare, Patterned"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Interior Signage, Trophies, Awards, & Plaques"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
            />

            <app-product-card 
                imgName="architecture.jpg"
                title="Architectural Appliqué"
                description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
                usability="Ideal for signage, plaques, nameplates, and décor."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Microsurfaced Impact Acrylic"
                finish="Brushed, High Gloss, Matte non-glare, Patterned"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Interior Signage, Trophies, Awards, & Plaques"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
            />

            <app-product-card 
                imgName="architecture.jpg"
                title="Architectural Appliqué"
                description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
                usability="Ideal for signage, plaques, nameplates, and décor."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Microsurfaced Impact Acrylic"
                finish="Brushed, High Gloss, Matte non-glare, Patterned"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Interior Signage, Trophies, Awards, & Plaques"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
            />

            <app-product-card 
                imgName="architecture.jpg"
                title="Architectural Appliqué"
                description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
                usability="Ideal for signage, plaques, nameplates, and décor."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Microsurfaced Impact Acrylic"
                finish="Brushed, High Gloss, Matte non-glare, Patterned"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Interior Signage, Trophies, Awards, & Plaques"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
            />

            <app-product-card 
                imgName="architecture.jpg"
                title="Architectural Appliqué"
                description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
                usability="Ideal for signage, plaques, nameplates, and décor."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Microsurfaced Impact Acrylic"
                finish="Brushed, High Gloss, Matte non-glare, Patterned"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Interior Signage, Trophies, Awards, & Plaques"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
            />
        </section>
    }

    @if (activeSheet === 'medium') {
        <section class="sheet">
            <app-product-card 
                imgName="architecture.jpg"
                title="Architectural Appliqué"
                description="Rowmark Architectural Appliqué combines style and precision in one versatile material. Its sleek metallic finishes and clear acrylic core deliver clean-cut edges and high-contrast engraving results. Easy to vector cut and laser engrave, this line offers the perfect blend of durability and  elegance, ideal for signage, plaques, nameplates, and décor. Architectural Appliqué features a premium brushed-metal look that adds a refined, professional touch to any project."
                usability="Ideal for signage, plaques, nameplates, and décor."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Microsurfaced Impact Acrylic"
                finish="Brushed, High Gloss, Matte non-glare, Patterned"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Interior Signage, Trophies, Awards, & Plaques"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
                engravingDepth="0.6"
                unitsDisable="1"
            /> 
        </section>
    }

    @if (activeSheet === 'quarter') {
        <section class="sheet">
            <app-product-card 
                imgName="flexibrass.jpg"
                title="FlexiBrass"
                description="Flexible, ligera y resistente... esta línea de productos combina la definición nítida y clásica del grabado del latón auténtico con todas las ventajas del acrílico fino y flexible. Disponible con o sin adhesivo. Los plásticos blancos y de colores claros no suelen ser adecuados para la fabricación con láser de diodo."
                usability="Señalización interior, trofeos."
                [priceOne]="100"
                [priceTwo]="75"
                [priceThree]="50"
                material="Acrílico de impacto con microacabado"
                finish="Cepillado, alto brillo, mate antirreflejo, estampado"
                attributes="Laserable, Diode Laserable, Rotary Engravable, Front Engravable"
                usage="Señalización interior, trofeos, premios y placas"
                capabilities="Saws, Shears, Bevels, Screen Prints, Bonds, Drills, Laser Vector Cuts, Heat Bendable, Hot Stamps, Permits Fine Engraving"
                engravingDepth="0.6"
                unitsDisable="1"
            />
        </section>
    }

</article>
