<article class="material-management">
  <section class="material-list">
    <h2>LISTA DE ATRIBUTOS</h2>

    <button class="add-material">
      <span>+ Agregar Atributo</span>
    </button>

    <table>
      <thead>
        <tr>
          <th scope="col" class="row-id">ID</th>
          <th scope="col" class="row-name">Nombre</th>
          <th scope="col" class="row-button">Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        @for (attribute of attributes; track attribute.id) {
          <tr>
              <th scope="row" class="row-id">{{ attribute.id }}</th>
              <td scope="row" class="row-name">{{ attribute.name }}</td>
              <td scope="row" class="row-button">
                @if (selectedAttribute === attribute) {
                  <span class="button-active">Seleccionado</span>
                } @else {
                  <button (click)="selectAttribute(attribute)">Seleccionar</button>
                }
              </td>
          </tr>
        }
      </tbody>
    </table>
  </section>
  <section class="material-details">
    <h2>DETALLES DEL MATERIAL</h2>
    @if (selectedAttribute.id !== 0) {
    <div class="details-card">
      <section class="detail-header">
        <img [src]="selectedAttribute.imgUrl" alt="Imagen del atributo" class="detail-image">
        <p class="detail-name">Nombre: {{ selectedAttribute.name }}</p>
        <p class="detail-id">ID: {{ selectedAttribute.id }}</p>
      </section>
      <section class="detail-content">
        <p class="detail-description"><span>Descripción:</span> {{ selectedAttribute.description }}</p>
      </section>
      <section class="detail-actions">
        <button (click)="deselectAttribute()" class="btn-deselect">Deseleccionar</button>
        <div class="action-buttons">
          <button (click)="deleteAttribute(selectedAttribute.id)" class="btn-delete">Eliminar</button>
          <button (click)="deleteAttribute(selectedAttribute.id)" class="btn-edit">Modificar</button>
        </div>
      </section>
    </div>
    } @else {
      <p class="detail-warning">AVISO: Seleccione un atributo para ver sus detalles.</p>
    }
  </section>
</article>
