
<aside id="sidebar" #sidebar class="close">
    <ul >
        <li>
            <button #btnrow id="toggle-btn" (click)="toggleSideBar(sidebar, btnrow)">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
            </button>
        </li>

        <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/admin/dashboard">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M200-246q54-53 125.5-83.5T480-360q83 0 154.5 30.5T760-246v-514H200v514Zm379-235q41-41 41-99t-41-99q-41-41-99-41t-99 41q-41 41-41 99t41 99q41 41 99 41t99-41ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm69-80h422q-44-39-99.5-59.5T480-280q-56 0-112.5 20.5T269-200Zm168.5-337.5Q420-555 420-580t17.5-42.5Q455-640 480-640t42.5 17.5Q540-605 540-580t-17.5 42.5Q505-520 480-520t-42.5-17.5ZM480-503Z"/></svg>
                <span>Mi perfil</span>
            </a>
        </li>

        <li>
            <button #btnone class="dropdown-btn" (click)="toggleSubMenu(sidebar, submenuone, btnone)" [class.active-btn]="rla.isActive">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z"/></svg>
                <span>Productos</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M480-360 280-560h400L480-360Z"/></svg>
            </button>
            <ul #submenuone class="sub-menu" routerLinkActive #rla="routerLinkActive">
                <div>
                    <li routerLinkActive="active"><a routerLink="/admin/stock" title="Ver stock">Ver stock</a></li>
                    <li routerLinkActive="active"><a routerLink="/admin/product" title="Agregar producto">Agregar producto</a></li>
                    <li routerLinkActive="active"><a routerLink="/profile/tournament" title="Crear Torneos">Modificar producto</a></li>
                </div>
            </ul>
        </li>
    </ul>
</aside>
